<div class="header">
  <div class="logo">
    <img src="../../../assets/images/logo.png" alt="">
  </div>
  <div class="header-content">
    <div class="search">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Search Here ...">
    </div>

    <div class="info-icons">
      <ul>
        <li class="language"><img src="../../../assets/images/eng.jpg" alt=""></li>
        <li><i class="fa fa-arrows-alt"></i></li>
        <li><i class="fa fa-bell-o"></i></li>
        <li class="user-info"><img src="../../../assets/images/user.png" alt=""></li>
      </ul>
    </div>
  </div>
</div>
