<div class="login-container">
  <div class="login">
    <h3>Sign In</h3>
    <form>
      <div class="group">
        <div class="icon">
          <i class="material-icons">supervisor_account</i>
        </div>
        <div class="input-div">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="group">
        <div class="icon">
          <i class="material-icons">lock_open</i>
        </div>
        <div class="input-div">
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password" value="">
          </mat-form-field>
        </div>
      </div>

      <div class="group flex">
        <mat-checkbox color="primary"></mat-checkbox>
        <div class="checkbox-label">Remember Me</div>
      </div>

      <div class="group">
        <button class="btn-primary-full">Login</button>
      </div>
    </form>

    <div class="login-footer">
      <a href="#">Register</a>
      <a href="#">Forgot Password</a>
    </div>
  </div>
</div>
