@import '../../../assets/scss/variables.scss';

.login-container{
  background-image: url('../.././../assets/images/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login{
    width: 40rem;
    background: rgba(255,255,255,.8);
    padding: 3rem;
    border-radius: 0.6rem;
    h3{
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 3rem;
    }
    form{
      .group 			  {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        .icon{
          margin-right: 15px;
          position: relative;
          top: 0;
          i{
            color: $textLight;
            font-size: 30px;
          }
        }
        .input-div {
          position:relative;
          width: 90%;
          mat-form-field{
            width: 100%;
          }
        }
        &.flex{
          display: flex;
        }
        .checkbox-label{
          margin-left: 1rem;
          color: $textLight2;
        }
      }
    }
    .login-footer{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      a{
        font-size: 1.4rem;
      }
    }
  }
}
