.dashboard{
  .sidebar{
    position: fixed;
    left: 0;
    width: 260px;
    background: #fff;
    height: 100%;
    padding-top: 64px;
    z-index: 1;
    box-shadow: 2px 2px 5px #ccc;
  }
  .main-container{
    padding: 64px 0 50px 260px;
    background: #f7f7f7;
    min-height: 100vh;
    .content-main{
      padding: 15px 20px;
    }
  }
}
