<ul>
  <li>
    <!-- <p-accordion>
      <p-accordionTab header="Header 1" [selected]="true">
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <div class="nav-link">Dashboard</div>
      </p-accordionTab>
      <p-accordionTab header="Header 2">
        Content 2
      </p-accordionTab>
      <p-accordionTab header="Header 3">
        Content 3
      </p-accordionTab>
    </p-accordion> -->
    <a href="#" class="active">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      <span>Dashboard</span>
    </a>
    <!-- <a href="#">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      <span>Dashboard</span>
    </a> -->
    <a href="#">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      <span>Blogs</span>
    </a>
    <a href="#">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      <span>Subscribers</span>
    </a>
    <a href="#">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      <span>Contact Queries</span>
    </a>
    <a href="#">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      <span>Logout</span>
    </a>
  </li>
</ul>
